<header class="round">
  <nav class="clearfix">
    <ul>
      <li class="logo">
		<%= link_to "Home", :root %>
	  </li>
      <li class="nav about">
        <%= link_to "About Us", :about %>
      </li>
	  <li class="nav contact">
	     <%= link_to "Contact Us", :contact %>
	  </li>
    </ul>
  </nav>
</header>